<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Florence Liu">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Florence Liu professional website">
  <title>Florence Liu - Resume</title>
  <link rel="stylesheet" href="../static/template.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
  <header class="header">
    <h1 class="site-title">Florence Liu</h1>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="../template.html" class="nav-link">About</a></li>
        <li><a href="cv.html" class="nav-link">Resume</a></li>
        <li><a href="fun.html" class="nav-link">Play</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </header>
  <div class="main">
    <h2>Curriculum Vitae</h2>


    <table border="1">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Education</td>
          <td>Carnegie Mellon University, Business Administration & Statistics (Expected 2025)</td>
        </tr>
        <tr>
          <td>Citigroup</td>
          <td>Sales and Trading Summer Analyst</td>
        </tr>
        <tr>
          <td>PH Fund Management</td>
          <td>Equity Trading Summer Analyst</td>
        </tr>
        <tr>
          <td>CMU</td>
          <td>Teaching Assistant</td>
        </tr>
        <tr>
            <td>CMU</td>
            <td>Tepper Finance Group</td>
        </tr>
        <tr>
            <td>CMU</td>
            <td>CMU Summit</td>
        </tr>
    </table>


    <p class="resume-link">Download my resume: <a href="../static/resume.pdf" target="_blank">Resume (PDF)</a></p>
  </div>
  <footer>
    <p>
      designed 🎨 and coded 👩🏻‍💻 by Florence Liu<span id="copyYear"></span>
    </p>
  </footer>
</body>
</html>