<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Florence Liu">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Florence Liu professional website">
  <title>Florence Liu - Contact</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1 id="webname">Florence Liu</h1>
    <nav>
      <a href="../index.html" class="nav-link">About</a>
      <a href="cv.html" class="nav-link">Resume</a>
      <a href="fun.html" class="nav-link">Play</a>
      <a href="contact.html" class="nav-link">Contact</a>
    </nav>
  </header>
  <div class="main">
    <h2>Contact Me</h2>
    
    <!-- Contact Form -->
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br><br>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
      
      <label for="comment">Comment:</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
      
      <input type="submit" value="Submit">
    </form>

    <!-- Contact Info Table -->
    <h3>My Contact Information</h3>
    <table border="1">
      <tr>
        <td>Email:</td>
        <td>siyil2@andrew.cmu.edu</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>(347) 925-8046</td>
      </tr>
      <tr>
        <td>LinkedIn:</td>
        <td><a href="https://www.linkedin.com/in/florence-liu-076523243" target="_blank">www.linkedin.com/in/florence-liu-076523243</a></td>
      </tr>
    </table>
  </div>
  <footer>
    &copy; 2025 designed 🎨 and coded 👩🏻‍💻 by Florence Liu
  </footer>
</body>
</html>
